{
"extends": [ "wesbos/typescript" ],
"rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/explicit-function-return-type": [
        "error",
        { "allowTypedFunctionExpressions": true }
      ]
  }
}